body{
	font-family: montserrat;
	background: url(background.jpg);
	background-repeat: no-repeat;
}
nav{
	background: #285f63;
	height: 80px;
	width:100%;
}
label.logo{
	color:white;
	font-size:35px;
	line-height: 80px;
	padding: 0  100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0  5px;
	text-decoration: none;
}
nav ul a{
	color: White;
	font-size: 30px;
	text-transform: uppercase;
	padding: 7px  13px;
	border-
	radius: 3px;
	transition: .5s;

}
a.active,a:hover{
	background: #1b9bff;
	transition: .5s;
}